* {
    margin: 0;
    font-family: 'Quicksand', sans-serif ;
}

a {
    text-decoration: none;
}

header {
    background: rgb(255, 255, 255);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5%;
    width: 90%;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
}

.logo{
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
    padding: 10px 40px;
}
.navbar1 li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.navbar1 li > a {
    color: black;
}

.box-1 {
    color: white;
    padding: 100px 5% 20px 5%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(100, 100, 100); 
}

.button {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 8px 48px;
    border: 1px solid;
    box-shadow: 0px 5px 5px black;
}

.button:active {
    background-color: rgb(243, 243, 243);
    position: relative;
    box-shadow: none;
    top: 5px;
}

.header-box-1{
    width: 47%;
}

#header-1 h1 {
    font-size: 48px;
}

.image-1 {
    margin-top: 50px;
    border-radius: 100% 100% 0px 0px ;
}

.image-2 {
    margin-top: 100px;
    height: 250px;
    border-radius: 15px 15px 40px;
}

.box-2 {
    padding: 50px 5% 50px 5%;
}

#header-2 {
    font-size: 20px;
    text-align: center;
}

.best-box-2 {
    display: flex;
    justify-content: space-between;
}

.best {
    display: flex;
    background-color: rgb(241, 241, 241);
}

.best img {
    width: 60px;
    height: 60px;
}

.text-best {
    padding: 10px 10px;
}

.title-best {
    font-weight: 600;
}

.choice-box-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-3 {
    background-color: #E9967A;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px 0;
}

.box-3 h1 {
    margin-bottom: 20px;
    color: black;
}

.box-box-3 img, .text-box{
    width: 200px;
    border-radius: 10px 10px 0px 0px ;
}

.box-box-3{
    background-color: rgb(100, 100, 100);
    margin: 10px 10px 10px 10px ;
    border-radius: 10px;
}

.text-box-3 {
    padding: 10px 0px;
}

.box-4 {
    display: flex;
    justify-content: space-between;
    padding: 75px 5% 20px 5%;
}

.text-box-4 {
    padding: 0px 70px;
    text-align: justify;
}

.text-box-4 h1, .text-box-4 p{
    margin-bottom: 25px;
}

.allfooter{
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
}

.left-footer {
    font-size: 25px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-left: 30px;
}

.logo-sosmed a {
    font-size: 35px;
    color: white;
}

.rkj {
    display: flex;
}

.mid1-footer {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}

.mid1-footer h1 {
    font-size: 20px;
    padding-top: 39px;
    padding-bottom: 20px;
}

.mid1-footer p {
    font-size: 25px;
}

.mid2-footer {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}

.mid2-footer h1 {
    font-size: 20px;
    padding-top: 39px;
    padding-bottom: 39px;
}

.mid2-footer p {
    font-size: 25px;
}

.right-footer {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}

.right-footer h1 {
    font-size: 20px;
    padding-top: 39px;
    padding-bottom: 39px;
}

.right-footer p {
    font-size: 20px;
}

.end-footer {
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
}